<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 配置JMS连接工厂 --> 
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616" />
	</bean>

	<!-- Queue方式 -->
	<!-- 缺省：发送消息的目的地（队列） -->
	<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="com.infos.jms" />
	</bean>
	
	<!-- 缺省：配置QueueJms模板 -->
	<bean id="defaultJMSQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="destination" />
		<property name="receiveTimeout" value="1000" />
	</bean>
	
	
	
	<!-- 邮件发送服务 -->
	<!-- 发生消息 -->
	<bean id="mailSender" class="com.infox.project.asynms.send.MailMessageSenderImpl" >
		<property name="jmsTemplate" ref="defaultJMSQueueTemplate" />
	</bean>
	
	<!-- 消息接收监听实现类 -->
	<bean id="mailReceiver" class="com.infox.project.asynms.receiver.MailServiceReceiverListener" />
	
	<!-- 消息接收监听配置 -->
	<bean id="messageReceiverListener" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="messageListener" ref="mailReceiver" />
		<property name="destination" ref="destination" />
		<property name="receiveTimeout" value="10000" />
	</bean>
	
</beans>